.btn-primary {
    background-color: #00ffc5;
        border-radius: 150px;
}
.campus-windows>div>a>img {
      border-radius: 150px;
}
column {
    background-color: #1c00ff;
    border-radius: 150px;
}
h1 {
    background: linear-gradient(to bottom, #00e2ff, #20a8ff00); box-shadow: none!important;
    border-radius: 10px;
}
#side-column .menu a {
   background: linear-gradient(to bottom, #00e2ff, #20a8ff); box-shadow: none!important;
    border-radius: 10px;
}
.aops-panel {
    border-top: 8px solid #0068ff;
}
.aops-panel {
  background: linear-gradient(to bottom, #00e2ff, #20a8ff); box-shadow: none!important;
    border-radius: 10px;
}
.campus-windows>div {
    background-color: #fff0;
}
